<!DOCTYPE html>
<html lang="en">
<head>
    <div class="container text-center">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Password Generator!</title>
    <h1>Password Generator!</h1>

    <form action="{% url 'password' %}">
        <select name="length">
             <option value="6">6 char</option>
             <option value="7">7 char</option>
             <option value="8" selected="selected">8 char</option>
             <option value="9">9 char</option>
             <option value="10">10 char</option>
        </select>
        <br>
        <input type="checkbox" name="uppercase">Uppercase
        <br>
        <input type="checkbox" name="number">Numbers
        <br>
        <input type="checkbox" name="special">Special Character
        <br>
        <input value="Generate Password" type="submit" class="btn btn-primary">
    </form>
    </div>
</head>
<body>
</body>
</html>